[submodule "Payment.API/Payment.Api/.vs/Payment.Api/FileContentIndex"]
	path = Payment.API/Payment.Api/.vs/Payment.Api/FileContentIndex
	url = https://github.com/palika12/.NetCore-Angular-Project.git
